.btn{
    background-color:mediumslateblue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
}
#container{
    margin: 12%;
    text-align: center;
    background-color:lightblue;
}
#btn{
    text-align: center;
    font-size: 25px;
}